<br/><br/><h1 align='center'><u>Upload File</u></h1><br/><br/>
<div class="error"><h4 align='center'><%if flash%><%=flash[:error]%><%end%></h4></div><div class="success"><h4 align='center'><%if flash%><%=flash[:notice]%><%end%></h4></div>

<div class="form" align='center'>
<%= render 'form' %></div><br/><br/>
<br/><br/><br/>
<script>
</script>