


<h3 align="center">Demo</h3>


<%= button_to 'Upload', new_uploads_path, :method => "get"%>

<%= button_to 'Files List', uploads_path, :method => "get"%>

<%= button_to 'Analyze Text', new_uploads_path, :method => "get"%>